overwriteFiles: false
implementations:
   PhpUnitGen\Core\Contracts\Generators\TestGenerator: PhpUnitGen\Core\Generators\Tests\DelegateTestGenerator
   PhpUnitGen\Core\Contracts\Generators\MockGenerator: PhpUnitGen\Core\Generators\Mocks\PhpUnitMockGenerator
baseNamespace: MyArtJaub\Webtrees\Module\GeoData\France
baseTestNamespace: MyArtJaub\Tests\Webtrees\Module\GeoData\France
testCase: Fisharebest\Webtrees\TestCase